beautifulsoup4==4.4.1
numpy==1.11.2
pandas==0.19.1
qgrid==0.3.2
tqdm==4.10.0
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-contrib-core==0.3.0
jupyter-contrib-nbextensions==0.2.3
jupyter-core==4.2.1
jupyter-highlight-selected-word==0.0.7
jupyter-latex-envs==1.3.6
jupyter-nbextensions-configurator==0.2.3
dominate==2.3.1
